<!DOCTYPE html>

<div id="search-component">
    <h4><label class=" card-title" for="search-box">NBA Player Search</label></h4>
    <div class="form-inline active-cyan active-cyan-2 mb-3">
        <i class="fas fa-search " aria-hidden="true"></i>
        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search players by name..."
            aria-label="Search" #searchBox (input)="search(searchBox.value)">
    </div>



    <ng-container *ngFor="let player of players$ | async">
        <div class="wrapper blur">
            <ul class="staff">
                <li>
                    <!-- <a class="figure-caption text-center mt-3"> -->
                        <div class="picture-wrapper" (click)='infoCard(player)'>
                            <div class="picture">
                                <img src="{{ postHeadshot(player) }}" onerror="this.src='./assets/img/default-avatar.png';">
                            </div>
                        </div>
                        <div class="name" >{{ player.first_name + ' ' + player.last_name}}</div>
                        <div class="title">{{ player.position }}</div>
                    <!-- </a> -->
                </li>
            </ul>
        </div>

        <div class="card" aria-hidden="true">
            <div class="card__exit"></div>
            <div class="card__content">
                <div class="profile">
                    <div class="profile__picture">
                        <img src="{{ postHeadshot(player) }}" onerror="this.src='./assets/img/default-avatar.png';">
                    </div>
                    <div class="info">
                        <div class="info__name">{{ player.first_name + ' ' + player.last_name}}</div>
                        <div class="info__title">{{ player.position }}</div>
                    </div>
                </div>
                <app-player-season-avg [currPlayer]="player"></app-player-season-avg>
                <i class="exit material-icons">close</i>
            </div>
        </div>
    </ng-container>

</div>