.card {
  background-color: #252738;
  
  .card-header {
    padding: 2%;
    color: #ffffff; 
    font-family: revert;
  }
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}